$mobileBreakpoint: 512px;

body {
  margin: 0;
}

div {
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-color: #000;

  .vis-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .controls {
    position: relative;
    top: 5em;
    z-index: 1;
    background: rgba(0, 0, 0, 0.75);
    padding: 16px;
    color: #fff;
    width: 200px;
    border-radius: 16px;

    .controls-title-bar {
      background: rgba(0, 0, 0, 0.9);
      padding: 0.5em 0;
      .title {
        display: inline;
      }

      .minimize-controls-button {
        float: right;
      }
    }
  }

  @media only screen and (max-width: $mobileBreakpoint) {
    .controls {
      position: fixed;
      margin-left: 10vw;
      width: 80vw;
    }
  }
}



