$mobileBreakpoint: 512px;

html {
  font-size: 16px;
}

body {
  margin: 0;
}

div {
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  height: 100vh;
  width: 100vw;
  background-color: #000;

  h4 {
    margin-bottom: 0.5em;
    margin-block-end: 0.5em;
  }

  .vis-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .controls {
    position: absolute;
    left: 1em;
    top: 5em;
    z-index: 1;
    background: rgba(0, 0, 0, 0.75);
    padding: 1em;
    color: #fff;
    width: 315px;
    border-radius: 1em;
    touch-action: none; // Disable pinch to zoom on iOS devices
    overflow: auto;

    .controls-title-bar {
      background: rgba(0, 0, 0, 0.9);
      padding: 0.5em 0;
      .title {
        display: inline;
      }

      .minimize-controls-button {
        float: right;
      }
    }

    input, button, select {
      font-size: 1em;
    }

    .selected-points-info {
      text-align: start;
      vertical-align: baseline;
      background: rgba(15, 15, 15, 0.9);
      padding: 0.5em;
      margin: 0.5em 0;
      border: 1px solid grey;
      max-height: 20vh;
      overflow: auto;
    }
  }

  .error-message {
    color: white;
    font-size: 5em;
  }

  @media only screen and (max-width: $mobileBreakpoint) {
    .controls {
      position: fixed;
      margin-left: 10vw;
      width: 80vw;
      max-height: 80vh;
      top: 5vh
    }
  }
}



